html, body {
  margin: 15px;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}
canvas {
  display: block;
}

.main {
  width: 300px;
}

.title {
  font-family: "monospace";
  background-color: #4D5AFF;
  color: #FFFFFF;
}

button {
  background-color: #4D5AFF;
  color: #FFFFFF;
  height: 40px;
  width: 80px;

}